*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family: "Yuyu", sans-serif;
    background:#fff5fa;
    color:#5a3b4d;
    line-height:1.7;
}

header{
    position:sticky;
    top:0;
    z-index:1000;
    background:#ec4899;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 50px;
    box-shadow:0 5px 15px rgba(236,72,153,.25);
}

header h1{
    color:white;
}